#container {
    /* background-color: aqua; */
    margin: 0px auto;
    width: 80%;
    /* border-style: double;
    border-radius: 25px; */
}

#box {
    background-color: blue;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin: 50px 0px 0px 0px;
    position: absolute;
}